<p id="notice"><%= notice %></p>

<h1>Listing Mesh Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesh_types.each do |mesh_type| %>
      <tr>
        <td><%= mesh_type.name %></td>
        <td><%= mesh_type.label %></td>
        <td><%= link_to 'Show', mesh_type %></td>
        <td><%= link_to 'Edit', edit_mesh_type_path(mesh_type) %></td>
        <td><%= link_to 'Destroy', mesh_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mesh type', new_mesh_type_path %>
