<%= form_for(@mesh) do |f| %>
  <% if @mesh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mesh.errors.count, "error") %> prohibited this mesh from being saved:</h2>

      <ul>
      <% @mesh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :mesh_type_id %><br>
    <%= f.text_field :mesh_type_id %>
  </div>
  <div class="field">
    <%= f.label :mesh_code_id %><br>
    <%= f.text_field :mesh_code_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
